# Mapbox token - only needed for routing (Mapbox Directions API)
# from https://account.mapbox.com/
# Map tiles now use OSM/NAIP/Carto and do not require a token.
VITE_PUBLIC_MAPBOX_TOKEN=xxx
# Geocode Earth token for geocoding/search
# from https://app.geocode.earth/
VITE_PUBLIC_GEOCODE_EARTH_TOKEN=xxx
